@import '../../styles/variables.scss';

.tabs {
  width: 100%;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #DFE5EC;
  &__item {
    cursor: pointer;
    width: 50%;
    padding: 15px 25px;
    font-family: $semibold-font;
    font-size: 0.8rem;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background: #FFFFFF;
    &--active {
      color: #FFFFFF;
      background: #2196F3;
    }
  }
}
